.accordion details {
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    overflow: hidden;
}

/* stylelint-disable-next-line no-descending-specificity */
.accordion details + details {
    margin-top: 12px;
}

.accordion details p {
    margin-bottom: 0.8em;
}

.accordion details summary {
    position: relative;
    padding: 16px 56px 16px 20px;
    cursor: pointer;
    list-style: none;
    overflow: auto;
    color: var(--venia-text-color);
    font-family: var(--venia-body-font);
    font-weight: 700;
    transition: background-color 0.2s, color 0.2s;
}

.accordion details summary p {
    margin: 0;
}

.accordion details[open] {
    border-color: var(--venia-accent);
}

.accordion details[open] summary {
    color: #fff;
    background-color: var(--venia-accent);
}

.accordion details summary:focus-visible,
.accordion details:not([open]) summary:hover {
    background-color: var(--light-color);
}

.accordion details summary::-webkit-details-marker {
    display: none;
}

.accordion details summary::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    width: 16px;
    height: 16px;
    transform: translateY(-50%);
    background:
        linear-gradient(var(--venia-accent), var(--venia-accent)) center / 100% 2px no-repeat,
        linear-gradient(var(--venia-accent), var(--venia-accent)) center / 2px 100% no-repeat;
    transition: transform 0.2s;
}

.accordion details[open] summary::after {
    transform: translateY(-50%) rotate(45deg);
    background:
        linear-gradient(#fff, #fff) center / 100% 2px no-repeat,
        linear-gradient(#fff, #fff) center / 2px 100% no-repeat;
}

.accordion details .accordion-item-body {
    padding: 20px;
    background-color: var(--background-color);
}

.accordion details[open] .accordion-item-body {
    color: var(--venia-text-color);
}
